header {
    padding: $size-3 0;
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;

    &.sticky {
        background-color: var(--neutral-100);
        border-bottom: 1px solid var(--neutral-300);

        .language-selector {
          color: var(--neutral-900);
        }

        .menu {
          @media (max-width: $mobile) {
            background-color: var(--neutral-100);
          }
        }
    }

    &.open {
        @media (max-width: $mobile) { 
            height: 100%;

            .menu {
                height: 100%;
                background-color: var(--neutral-100);
            }
        }
    }
  
    .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
        width: 100px;
        z-index: 1;

        img {
            width: 100%;
            object-fit: contain;
        }
    }
  
    .menu {
      position: relative;

      @media (max-width: $mobile) { 
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: $size-3;
        gap: $size-3;
      }

      nav {
        display: flex;
        gap: $size-3;

        @media (max-width: $mobile) {
            display: none;
            width: 100%;

            &.open {
                display: flex;
                flex-direction: column;
            }
        }

        &.level-2 {
            position: absolute;
            top: 30px;
            flex-direction: column;
            right: 0px;
            width: auto;

            &.open {
                background-color: var(--neutral-100);
                border: 1px solid var(--neutral-300);
                padding: $size-1;

                @media (max-width: $mobile) { 
                    position: relative;
                    background-color: inherit;
                    border: none;
                    padding: 0;
                }
            }
        }

        .nav-element {
            display: flex;
            gap: $size-1;

            a {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                color: var(--neutral-900);
                gap: $size-1;
            }

            &.has-child {
                position: relative;

                @media (max-width: $mobile) { 
                    display: flex;
                    flex-direction: column;
                    gap: $size-3;

                    .level-2 {
                        top: 0px;

                        i {
                          color: var(--neutral-900);
                        }
                    }
                }

                i {
                    transition: 0.25s;
                    color: var(--neutral-900);
                    &.open {
                        transform: rotate(180deg);
                    }
                }
            }
        }
      }
  
      .hamburger {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 24px;
        cursor: pointer;
  
        span {
          display: block;
          width: 100%;
          height: 3px;
          background-color: var(--neutral-900);
          margin: 3px 0;
          transition: 0.25s
        }
  
        &.open span {
          &:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
          }
        }
  
        &:hover span {
          background-color: var(--neutral-700);
        }

        @media (max-width: $mobile) {
          display: flex;
        }
      }
    }
  }
  