body {
    margin: 0px;
    padding: 0px;
    background-color: var(--neutral-900);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}